<div class="container-fluid">
	<div class="container topContainer">
		<%= image_tag 'logo.png', class: 'pageLogo'%>
		<h1 id="shopTitle">The Brewery Coffee House</h1>
		<!--<p id="time">Time</p>
		<p id="date">Date</p>-->
	</div>
</div>
<div class="container">
	<div class="row">
		<!-- THE MENU PANEL-->
		<div class="col-md-10 col-sm-10 col-xs-12">
			<!-- TABS AT TOP -->
			<div class="row">
				<div class="col-md-2 col-sm-2 col-xs-2 tabs tab1 greyBack">T/A Hot Drinks</div>
				<div class="col-md-2 col-sm-2 col-xs-2 tabs tab2">Sit In Hot Drinks</div>
				<div class="col-md-2 col-sm-2 col-xs-2 tabs tab3">Cold Drinks</div>
				<div class="col-md-2 col-sm-2 col-xs-2 tabs tab4">Food</div>
				<div class="col-md-2 col-sm-2 col-xs-2 tabs tab5">Retail</div>
			</div>
			<!-- CONTENTS -->
			<div class="row productBlockBackground">
				<div class="col-md-12 col-sm-12 col-xs-12 ">
					<div class="row">
						<%# See the Product#types in #%>
						<%# app/models/product.rb for a list of types. #%>
						<% Product.where(type: 'Product::CoffeeSitIn', visible: true).each do |product| %>
							<div class="col-sm-2">
								<div class="panel panel-default">
									<div class="panel-body">
										<%= image_tag (product.image.url :thumb), class: 'img-responsive' %>
									</div>
									<div class="panel-footer">
										<%= product.name %>
									</div>
								</div>
							</div>
						<% end %>
					</div>
					<div class="row">
						<h2>Tea</h2>
						<% Product.where(type: 'Product::TeaSitIn', visible: true).each do |product| %>
							<div class="col-sm-2">
								<div class="panel panel-default">
									<div class="panel-body">
										<%= image_tag (product.image.url :thumb), class: 'img-responsive' %>
									</div>
									<div class="panel-footer">
										<%= product.name %>
									</div>
								</div>
							</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
		<!-- THE TOTAL AND ITEM LIST PANEL-->
		<div class="col-md-2 col-sm-2 col-xs-12">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<table class="table table-hover">
						<thead><tr><th>TOTAL</th></tr></thead>
						<tbody>
							<tr><td>BLAH</td></tr>
							<tr><td>BLAH</td></tr>
							<tr><td>BLAH</td></tr>
							<tr><td>BLAH</td></tr>
							<tr><td>BLAH</td></tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="row">
						<div class="col-md-offset-1 col-md-5 col-sm-5 col-xs-5 bottomButtons"> - </div>
						<div class="col-md-offset-1	col-md-5 col-sm-5 col-xs-5 bottomButtons">Manager</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

