
<div class="container-fluid">
	
	<div class="row"><br/>
		<!-- THE MENU PANEL-->
		<div class="col-md-9 col-sm-12 col-xs-12">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12 BreweryBanner">
					<p id="shopTitle1">The</p>
					<p id="shopTitle2">Brewery</p>
				</div>
			</div><br/>
			<!-- TABS AT TOP -->
			<div class="row">
				<div class="tabs tab1 greyBack col-md-2 col-sm-2">T/A Coffee</div>
				<div class="tabs tab2 col-md-2 col-sm-2">T/A Tea</div>
				<div class="tabs tab3 col-md-2 col-sm-2">Sit in Coffee</div>
				<div class="tabs tab4 col-md-2 col-sm-2">Sit in Tea</div>
				<div class="tabs tab5 col-md-2 col-sm-2">Cold Drinks</div>
				<div class="tabs tab6 col-md-2 col-sm-2">Food & Retail</div>
			</div>
			<!-- CONTENTS -->
			<div class="row productBlockBackground">
				<div class="col-md-12 col-sm-12 col-xs-12 ">
					<div class="row" id="TACoffee">
						<%# See the Product#types in #%>
						<%# app/models/product.rb for a list of types. #%>
						<% Product.where(type: 'Product::CoffeeTakeOut', visible: true).each do |product| %>
							<div class="col-sm-3">
								<div id=<%= product.id %> class="panel panel-default tillThing">
									<div class="panel-body">
										<%= image_tag (product.image.url :thumb), class: 'img-responsive' %>
									</div>
									<div class="panel-footer">
										<%= product.name %>
									</div>
								</div>
							</div>
						<% end %>
					</div>
					<div class="row" id="TATea">
						<%# See the Product#types in #%>
						<%# app/models/product.rb for a list of types. #%>
						<% Product.where(type: 'Product::TeaTakeOut', visible: true).each do |product| %>
							<div class="col-sm-3">
								<div class="panel panel-default tillThing" id=<%= product.id %>>
									<div class="panel-body">
										<%= image_tag (product.image.url :thumb), class: 'img-responsive' %>
									</div>
									<div class="panel-footer">
										<%= product.name %>
									</div>
								</div>
							</div>
						<% end %>
					</div>
					<div class="row" id="SICoffee">
						<%# See the Product#types in #%>
						<%# app/models/product.rb for a list of types. #%>
						<% Product.where(type: 'Product::CoffeeSitIn', visible: true).each do |product| %>
							<div class="col-sm-3">
								<div class="panel panel-default tillThing" id=<%= product.id %>>
									<div class="panel-body">
										<%= image_tag (product.image.url :thumb), class: 'img-responsive' %>
									</div>
									<div class="panel-footer">
										<%= product.name %>
									</div>
								</div>
							</div>
						<% end %>
					</div>
					<div class="row" id="SITea">
						<%# See the Product#types in #%>
						<%# app/models/product.rb for a list of types. #%>
						<% Product.where(type: 'Product::TeaSitIn', visible: true).each do |product| %>
							<div class="col-sm-3">
								<div class="panel panel-default tillThing" id=<%= product.id %>>
									<div class="panel-body">
										<%= image_tag (product.image.url :thumb), class: 'img-responsive' %>
									</div>
									<div class="panel-footer">
										<%= product.name %>
									</div>
								</div>
							</div>
						<% end %>
					</div>
					<div class="row" id="ColdDrinks">
						<%# See the Product#types in #%>
						<%# app/models/product.rb for a list of types. #%>
						<% Product.where(type: 'Product::ColdDrink', visible: true).each do |product| %>
							<div class="col-sm-3">
								<div class="panel panel-default tillThing" id=<%= product.id %>>
									<div class="panel-body">
										<%= image_tag (product.image.url :thumb), class: 'img-responsive' %>
									</div>
									<div class="panel-footer">
										<%= product.name %>
									</div>
								</div>
							</div>
						<% end %>
					</div>
					<div class="row" id="FoodRetail">
						<%# See the Product#types in #%>
						<%# app/models/product.rb for a list of types. #%>
						<% Product.where(type: 'Product::Retail', visible: true).each do |product| %>
							<div class="col-sm-3">
								<div class="panel panel-default tillThing" id=<%= product.id %>>
									<div class="panel-body">
										<%= image_tag (product.image.url :thumb), class: 'img-responsive' %>
									</div>
									<div class="panel-footer">
										<%= product.name %>
									</div>
								</div>
							</div>
						<% end %>
						<% Product.where(type: 'Product::Food', visible: true).each do |product| %>
							<div class="col-sm-3">
								<div class="panel panel-default tillThing" id=<%= product.id %>>
									<div class="panel-body">
										<%= image_tag (product.image.url :thumb), class: 'img-responsive' %>
									</div>
									<div class="panel-footer">
										<%= product.name %>
									</div>
								</div>
							</div>
						<% end %>
					</div>
				  <!-- Modal -->
				  <div class="modal fade" id="managerModal" role="dialog">
				    <div class="modal-dialog">
				    
				      <!-- Modal content-->
				      <div class="modal-content">
				        <div class="modal-header">
				          <button type="button" class="close" data-dismiss="modal">&times;</button>
				          <h4 class="modal-title text-center">MANAGER OPTIONS</h4>
				        </div>
				        <div class="modal-body text-center">
				          <button class="modalbtn creditBtn num minus" data-dismiss="modal">Remove Item From Transaction</button>
				          <button class="modalbtn num" id="resetTransaction" data-dismiss="modal">Reset Transaction</button>
				          <button class="modalbtn LoyaltyBtn num" id="prodIntentory" data-dismiss="modal">Product Inventory</button>
				          <button class="modalbtn creditBtn num" id="prodSales" data-dismiss="modal">Sales</button>

				        </div>
				      </div>
				      
				    </div>
				  </div>
				</div>
			</div>
		</div>
		<!-- THE TOTAL AND ITEM LIST PANEL-->
		<div class="col-md-3 col-sm-12 col-xs-12">
			<div class="row productBlockBackground2">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="row">
						<div class="col-md-3 col-sm-3 col-xs-3 num"><button class="tillBtn num"value="1">1</button></div>
						<div class="col-md-3 col-sm-3 col-xs-3 num"><button class="tillBtn num" value="2">2</button></div>
						<div class="col-md-3 col-sm-3 col-xs-3 num"><button class="tillBtn num" value="3">3</button></div>
						<div class="col-md-3 col-sm-3 col-xs-3" id="5euro"><button class="moneyBtn"><span class="euro">€</span>5</button></div>
					</div><br/>
					<div class="row">
						<div class="col-md-3 col-sm-3 col-xs-3 num"><button class="tillBtn num" value="4">4</button></div>
						<div class="col-md-3 col-sm-3 col-xs-3 num"><button class="tillBtn num" value="5">5</button></div>
						<div class="col-md-3 col-sm-3 col-xs-3 num"><button class="tillBtn num" value="6">6</button></div>
						<div class="col-md-3 col-sm-3 col-xs-3" id="10euro"><button class="moneyBtn"><span class="euro">€</span>10</button></div>
					</div><br/>
					<div class="row">
						<div class="col-md-3 col-sm-3 col-xs-3 num"><button  class="tillBtn num" value="7">7</button></div>
						<div class="col-md-3 col-sm-3 col-xs-3 num"><button  class="tillBtn num" value="8">8</button></div>
						<div class="col-md-3 col-sm-3 col-xs-3 num"><button class="tillBtn num" value="9">9</button></div>
						<div class="col-md-3 col-sm-3 col-xs-3" id="20euro"><button class="moneyBtn"><span class="euro">€</span>20</button ></div>
					</div><br/>
					<div class="row"> 
						<div class="col-md-3 col-sm-3 col-xs-3" id="cBtn"><button class="cBtn" id="delete">c</button></div>
						<div class="col-md-3 col-sm-3 col-xs-3 num"><button class="tillBtn zero num" value="0">0</button></div>
						<div class="col-md-3 col-sm-3 col-xs-3 period num"><button class="tillBtn num">.</button></div>
						<div class="col-md-3 col-sm-3 col-xs-3 minus" data-toggle="modal" data-target="#managerModal"><button class="moneyBtn minus"> <%= glyphicon "cog", class: "whitecog"%> </button></div>
					</div><br/>
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12"><div type="button" class="cashBtn" id="eqn-bg">Cash</div></div>
					</div><br/>
					<div class="row">
						<div class="col-md-6 col-sm-6 col-xs-6"><div type="button" class="creditBtn">Credit</div></div>
						<div class="col-md-6 col-sm-6 col-xs-6"><div type="button" class="LoyaltyBtn">Loyalty Card</div></div>
					</div>
				</div>
			</div>
			<div class="row text-center">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<table class="table table-hover ">
						<thead>
							<tr><th><div id="tillTotal"></div></th></tr>
							<tr><th><div id="tillScreen"></div></th></tr>
						</thead>
						<tbody>
							<tr><th><div id="tillList1"></div></th></tr>
						<!-- 	<tr><td > 
								<p class="tillList">Cappuccino</p>
								<div class="tillList"><%=image_tag("/assets/subIcon.svg")%></div>
								<p class="tillList">1</p>
								<div class="tillList"><%=image_tag("/assets/addIcon.svg")%></div>
								</td></tr>
							<tr><td> </td></tr> -->
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>


