<%= bootstrap_form_for(@product, as: :product) do |f| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <table class="table">
    <thead>
      <tr>
        <th><%= f.label :name %></th>
        <th><%= f.label :type %></th>
        <th><%= f.label :price %></th>
        <th><%= f.label :vat_rate %></th>
        <th><%= f.label :visible %></th>
        <th><%= f.label :image %></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><%= f.text_field   :name, skip_lable: true %></td>
        <td><%= f.select       :type, Product.types, skip_lable: true %></td>
        <td><%= f.number_field :price, skip_lable: true %></td>
        <td><%= f.number_field :vat_rate, skip_lable: true %></td>
        <td><%= f.check_box    :visible, skip_lable: true %></td>
        <td><%= f.file_field   :image, skip_lable: true %></td>
        <td><%= f.submit %></td>
      </tr>
    </tbody>
  </table>
<% end %>
