<%= bootstrap_form_for(@product, remote: true) do |f| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <td class="col-xs-1">
    <% unless @product.type.nil? %>
      <%= image_tag @product.image.url(:tiny) %>
    <% else %>
      <%= glyphicon('plus') %>
    <% end %>
  </td>
  <td class="col-xs-3"><%= f.text_field   :name, skip_label: true %></td>
  <td class="col-xs-3"><%= f.select       :type, Product.types, skip_label: true %></td>
  <td class="col-xs-2"><%= f.number_field :price, skip_label: true %></td>
  <td class="col-xs-2"><%= f.number_field :vat_rate, skip_label: true %></td>
  <td class="col-xs-1">
    <%= f.check_box    :visible, skip_label: true do %>
      <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
    <% end %>
  </td>
  <td class="col-xs-2"><%= f.file_field   :image, skip_label: true, class: 'file-upload', style: 'width: 80px' %></td>
  <td class="col-xs-1"><%= f.submit @product.type.nil? ? 'Create' : 'Update', id: 'tableButton' %></td>
<% end %>
