<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <% if notice %>
        <%= alert :info do %>
          <%= notice %>
        <% end %>
      <% end %>

      <h1>Products</h1>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Type</th>
            <th>Price</th>
            <th>Vat rate</th>
            <th>Visible</th>
            <th>Image Upload</th>
            <th>Update</th>
            <th>Delete</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <% @product = Product.new %>
            <%= render partial: 'products/form', locals: { product: Product.new } %>
            <td colspan="1"></td>
          </tr>

          <% @products.each do |product| %>
            <tr>
              <% @product = product %>
              <%= render partial: 'products/form', locals: { product: product }  %>
              <td>
                <%= link_to product, method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <%= glyphicon 'remove' %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
