<div class="container">

  <div id="notice"></div>

  <div class="row">
    <div class="col-md-12 col-xs-12">


    <div class=" col-md-12 titles">
      <div class="row">

      <div class="col-md-offset-1 col-sm-offset-1 col-md-2 col-sm-2">
      <%= link_to root_path  do %>
        <button class="returnHome">HOME</button>
      <% end%>
    </div>
      <h1 class="col-md-8"id="productTitle">Products</h1>
      </div>
    </div>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Type</th>
            <th>Price</th>
            <th>Vat rate</th>
            <th>Visible</th>
            <th>Image Upload</th>
            <th>Update</th>
            <th>Delete</th>
          </tr>
        </thead>

        <tbody>
          <tr  valign="bottom" style="text-align: center; vertical-align: middle;">
            <% @product = Product.new %>
            <%= render partial: 'products/form', locals: { product: Product.new } %>
            <td colspan="1"></td>
          </tr>

          <% @products.each do |product| %>
            <tr>
              <% @product = product %>
              <%= render partial: 'products/form', locals: { product: product }  %>
              <td valign="bottom" style="text-align: center; vertical-align: middle;">
                <%= link_to product, method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <%= glyphicon 'remove' %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
