<div class="panel panel-body">
  <%= form_tag export_sales_path do |form| %>

    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <!-- <div id="datetimepicker"></div> -->
          <%= text_field_tag :date, @date.strftime('1st, %b %y'), required: true, class: 'form-control', style: 'display: none' %>
        </div>
        <%= submit_tag 'z-read',   remote: true, id: 'z-read-button',   class: 'btn btn-primary pull-right date-button' %>
        <%= submit_tag 'Set Date', remote: true, id: 'set-date-button', class: 'btn btn-default pull-right date-button' %>
      </div>
    </div>
  <% end %>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-body">
      <%= form_tag export_sales_path do |form| %>

        <div class="row">
          <div class="col-xs-12">
            <h4 id="sales-export-heading">Export sales</h4>
          </div>
        </div>

        <div class="form-group">
          <div class='input-group date' id='start-date-picker'>
            <%= text_field_tag :start_date, @date.strftime('1st, %b %y'), required: true, class: 'form-control' %>
            <span class="input-group-addon btn1">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>

        <div class="form-group">
          <div class='input-group date' id='end-date-picker'>
            <%= text_field_tag :end_date, nil, required: true, class: 'form-control' %>
            <span class="input-group-addon btn2">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>

        <%= submit_tag 'Export', remote: true, id: 'sales-export-button', class: 'btn btn-primary pull-right date-button' %>
      <% end %>
    </div>
  </div>
</div>

