<div class="container">
  <p id="notice"><%= notice %></p>

  <div class="row">
     <div class=" col-md-12 titles">
      <div class="row">

      <div class="col-md-offset-1 col-sm-offset-1 col-md-2 col-sm-2">
      <%= link_to root_path  do %>
        <button class="returnHome">HOME</button>
      <% end%>
    </div>
      <h1 class="col-md-6" id="salesTitle">Sales</h1>
      </div>
    </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="form-group">
            <div id="datetimepicker"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6 chart" >
          <div class="panel panel-default">
            <div class="panel-body" id="dayChart">
              <%# <%= line_chart day_chart %>
              <%= line_chart Sale.day(@date).product_chart_hour.take(20) %>
            </div>
            <div class="panel-footer">
              Today: <%= Date.today.strftime '%A %b %Y' %>
            </div>
          </div>
        </div>

        <div class="col-xs-6 chart" >
          <div class="panel panel-default">
            <div class="panel-body" id="weekChart">
              <%# <%= line_chart week_chart %>
              <%= line_chart Sale.week(@date).product_chart_day.take(20) %>
            </div>
            <div class="panel-footer">
              Week: <%= 1.week.ago.strftime '%A %b %Y' %> - <%= Date.today.strftime '%A %b %Y' %>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6 chart" >
          <div class="panel panel-default">
            <div class="panel-body" id="monthChart">
              <%# <%= line_chart month_chart %>
              <%= line_chart Sale.month(@date).product_chart_week.take(20) %>
            </div>
            <div class="panel-footer">
              Month: <%= 1.month.ago.strftime '%A %b %Y' %> - <%= Date.today.strftime '%A %b %Y' %>
            </div>
          </div>
        </div>

        <div class="col-xs-6 chart" >
          <div class="panel panel-default">
            <div class="panel-body" id="yearChart">
              <%# <%= line_chart year_chart %>
              <%= line_chart Sale.year(@date).product_chart_week.take 20 %>
            </div>
            <div class="panel-footer">
              Year: <%= 1.year.ago.strftime '%A %b %Y' %> - <%= Date.today.strftime '%A %b %Y' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
        <!-- Show Modal -->
      <div class="modal fade" id="showModal" role="dialog">
      </div>

    <!-- Edit Modal -->
      <div class="modal fade" id="editModal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h1 class="popUpTitles text-center">Edit Sale</h1>
          </div>
          <div class="modal-body">
           <p>form here</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Time <%= glyphicon 'chevron-down' %></th>
            <th>Total</th>
            <th>Vat</th>
            <th>Net total</th>
            <th>Cash or Credit</th>
            <th>Loyalty Card</th>
          </tr>
        </thead>
        <tbody>
          <% Sale.day(@date).order(created_at: :desc).take(10).find_all do |sale| %>
            <tr>
              <td><%= sale.created_at.strftime '%k:%M:%S' %></td>
              <td><%= sale.total %></td>
              <td><%= sale.vat %></td>
              <td><%= sale.net_total %></td>
              <td><%= sale.cash_or_credit == 'cash' ? glyphicon(:euro) : glyphicon('credit-card') %></td>
              <td><%= glyphicon :ok if sale.loyalty_card %></td>
              <td><%= link_to 'Show', sale_path(sale), {remote: true, 'data-toggle': 'modal', 'data-target': '#showModal'}  %></td>
              <td><%= link_to 'Edit', "#", data: {toggle: "modal", target: "#editModal"} %></td>
              <td><%= link_to 'Destroy', sale, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    </div>
  </div>
</div>

<script>
showDateTimePicker("<%= @date.iso8601 %>");
</script>
