<div class="container">
  <p id="notice"><%= notice %></p>

  <div class="row">
    <div class=" col-md-12 titles">
      <div class="row">
        <div class="col-md-offset-1 col-sm-offset-1 col-md-2 col-sm-2">
          <%= link_to root_path  do %>
          <button class="returnHome">HOME</button>
          <% end%>
        </div>
        <h1 class="col-md-6" id="salesTitle">Sales</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8 col-xs-12 table-responsive">
      <!-- Show Modal -->
      <div class="modal fade" id="showModal" role="dialog"></div>

      <div class="table-responsive" id="salesTable">
        <table class="table table-striped">

          <thead>
            <tr>
              <th>Time <%= glyphicon 'chevron-down' %></th>
              <th>Total</th>
              <th>Vat</th>
              <th>Net total</th>
              <th>Payment Method</th>
            </tr>
          </thead>

          <tbody>
            <% Sale.day(@date).order(created_at: :desc).take(10).find_all do |sale| %>
              <tr>
                <td><%= sale.created_at.strftime '%k:%M:%S' %></td>
                <td><%= number_to_currency sale.total, unit: '€' %></td>
                <td><%= number_to_currency sale.vat,   unit: '€' %></td>
                <td><%= number_to_currency sale.net_total, unit: '€' %></td>
                <td>
                  <% case sale.payment_method %>
                  <% when 'cash' %>
                    <%= glyphicon 'euro' %>
                  <% when 'credit' %>
                    <%= glyphicon 'credit-card' %>
                  <% when 'loyalty_card' %>
                    <%= glyphicon 'heart' %>
                  <% end %>
                </td>
                <td><%= link_to 'Show', sale_path(sale),      { remote: true, 'data-toggle': 'modal', 'data-target': '#showModal' }  %></td>
                <td><%= link_to 'Edit', edit_sale_path(sale), { remote: true, 'data-toggle': 'modal', 'data-target': '#showModal' } %></td>
                <td><%= link_to 'Destroy', sale, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>

          <tfoot>
            <tr>
              <td><strong>Total:</strong></td>
              <td><strong><%= number_to_currency Sale.day(@date).sum(:total), unit: '€' %></strong></td>
              <td><strong><%= number_to_currency Sale.day(@date).sum(:vat),   unit: '€' %></strong></td>
              <td><strong><%= number_to_currency Sale.day(@date).sum(:net_total), unit: '€' %></strong></td>
            </tr>
          </tfoot>

        </table>
      </div>
    </div>

    <div class="col-sm-4 col-xs-12">

      <%= render partial: 'datepicker' %>
      <%= render partial: 'graphs' %>

    </div>
  </div>
</div>

<script>
showDateTimePicker("<%= @date.iso8601 %>");
</script>
