<div class="container">
  <p id="notice"><%= notice %></p>

  <div class="row">
    <div class="col-xs-12">
      <div class="titles ">
      <h1 id="salesTitle">Sales</h1></div>

      <div class="row">
        <div class="col-xs-6">
          <div class="form-group">
            <div id="datetimepicker"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6">
          <div class="panel panel-default">
            <div class="panel-body">
              <%# <%= line_chart day_chart %>
              <%= line_chart Sale.day(@date).product_chart_hour.take(20) %>
            </div>
            <div class="panel-footer">
              Today: <%= Date.today.strftime '%A %b %Y' %>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-body">
              <%# <%= line_chart week_chart %>
              <%= line_chart Sale.week(@date).product_chart_day.take(20) %>
            </div>
            <div class="panel-footer">
              Week: <%= 1.week.ago.strftime '%A %b %Y' %> - <%= Date.today.strftime '%A %b %Y' %>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6">
          <div class="panel panel-default">
            <div class="panel-body">
              <%# <%= line_chart month_chart %>
              <%= line_chart Sale.month(@date).product_chart_week.take(20) %>
            </div>
            <div class="panel-footer">
              Month: <%= 1.month.ago.strftime '%A %b %Y' %> - <%= Date.today.strftime '%A %b %Y' %>
            </div>
          </div>
        </div>

        <div class="col-xs-6">
          <div class="panel panel-default">
            <div class="panel-body">
              <%# <%= line_chart year_chart %>
              <%= line_chart Sale.year(@date).product_chart_week.take 20 %>
            </div>
            <div class="panel-footer">
              Year: <%= 1.year.ago.strftime '%A %b %Y' %> - <%= Date.today.strftime '%A %b %Y' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-offset-4 col-md-4 col-sm-offset-4 col-sm-4 col-xs-6 table-responsive">
        <!-- Show Modal -->
      <div class="modal fade" id="showModal" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title text-center">Show Sale</h4>
            </div>
            <div class="modal-body">
             <p>
                <strong class="col-md-4 col-sm-4">Total:</strong>
                number
              </p>
              <p>
                <strong class="col-md-4 col-sm-4">Net total:</strong>
                number
              </p>
              <p>
                <strong class="col-md-4  col-sm-4">Vat:</strong>
                number
              </p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

    <!-- Edit Modal -->
      <div class="modal fade" id="editModal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h1 class="popUpTitles text-center">Edit Sale</h1>
          </div>
          <div class="modal-body">
           <p>form here</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Total</th>
            <th>Net total</th>
            <th>Vat</th>
          </tr>
        </thead>
        <tbody>
          <% @sales.take(1).each do |sale| %>
            <tr>
              <% sale.products.each do |p| %>
              <tr>
                <td><%= p.name %></td>
              </tr>
                <% end %>
                <td><%= sale.total %></td>
                <td><%= sale.net_total %></td>
                <td><%= sale.vat %></td>
              <tr>
                <td><%= link_to 'Show', "#", data: {toggle: "modal", target: "#showModal"}  %></td>
                <td><%= link_to 'Edit', "#", data: {toggle: "modal", target: "#editModal"} %></td>
                <td><%= link_to 'Destroy', sale, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    </div>
  </div>
</div>

<script>
showDateTimePicker("<%= @date.iso8601 %>");
</script>
