<!DOCTYPE html>
<html>
  <head>
    <title>Brewery</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://www.google.com/jsapi' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <%= yield %>

    <%# <% if Rails.env != 'production' && params[:console] %>
    <%#   <%= console %>
    <%# <% end %>
  </body>
</html>
